{
  "swagger" : "2.0",
  "info" : {
    "description" : "Api Documentation",
    "version" : "1.0",
    "title" : "Api Documentation",
    "termsOfService" : "urn:tos",
    "contact" : { },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host" : "mpdevms29.bancopopular.net:7004",
  "basePath" : "/GMF",
  "tags" : [ {
    "name" : "Ast -  gmf",
    "description" : "Account Settle Gmf V 0"
  }, {
    "name" : "basic-error-controller",
    "description" : "Basic Error Controller"
  } ],
  "paths" : {
    "/error" : {
      "get" : {
        "tags" : [ "basic-error-controller" ],
        "summary" : "errorHtml",
        "operationId" : "errorHtmlUsingGET",
        "produces" : [ "text/html" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "deprecated" : false
      },
      "head" : {
        "tags" : [ "basic-error-controller" ],
        "summary" : "errorHtml",
        "operationId" : "errorHtmlUsingHEAD",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/html" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          }
        },
        "deprecated" : false
      },
      "post" : {
        "tags" : [ "basic-error-controller" ],
        "summary" : "errorHtml",
        "operationId" : "errorHtmlUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/html" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "basic-error-controller" ],
        "summary" : "errorHtml",
        "operationId" : "errorHtmlUsingPUT",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/html" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "basic-error-controller" ],
        "summary" : "errorHtml",
        "operationId" : "errorHtmlUsingDELETE",
        "produces" : [ "text/html" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          }
        },
        "deprecated" : false
      },
      "options" : {
        "tags" : [ "basic-error-controller" ],
        "summary" : "errorHtml",
        "operationId" : "errorHtmlUsingOPTIONS",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/html" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          }
        },
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "basic-error-controller" ],
        "summary" : "errorHtml",
        "operationId" : "errorHtmlUsingPATCH",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/html" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          }
        },
        "deprecated" : false
      }
    },
    "/gmf/v0/gmf/query" : {
      "post" : {
        "tags" : [ "Ast -  gmf" ],
        "summary" : "Servicio de consulta gmf",
        "operationId" : "queryUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "header",
          "description" : "header",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/QueryAccountSettleGmfRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SuccessResponse«List«QueryAccountSettleGmfDtoOut»»"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "204" : {
            "description" : "No Content",
            "schema" : {
              "$ref" : "#/definitions/SuccessResponse«List«QueryAccountSettleGmfDtoOut»»"
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        },
        "deprecated" : false
      }
    },
    "/gmf/v0/gmf/update" : {
      "post" : {
        "tags" : [ "Ast -  gmf" ],
        "summary" : "Servicio de modificacion gmf",
        "operationId" : "updateUsingPOST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "header",
          "description" : "header",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpdateAccountSettleGmfRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SuccessResponse«Void»"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "204" : {
            "description" : "No Content",
            "schema" : {
              "$ref" : "#/definitions/SuccessResponse«Void»"
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          },
          "409" : {
            "description" : "Conflict"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        },
        "deprecated" : false
      }
    }
  },
  "definitions" : {
    "ModelAndView" : {
      "type" : "object",
      "properties" : {
        "empty" : {
          "type" : "boolean"
        },
        "model" : {
          "type" : "object"
        },
        "modelMap" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object"
          }
        },
        "reference" : {
          "type" : "boolean"
        },
        "status" : {
          "type" : "string",
          "enum" : [ "100 CONTINUE", "101 SWITCHING_PROTOCOLS", "102 PROCESSING", "103 CHECKPOINT", "200 OK", "201 CREATED", "202 ACCEPTED", "203 NON_AUTHORITATIVE_INFORMATION", "204 NO_CONTENT", "205 RESET_CONTENT", "206 PARTIAL_CONTENT", "207 MULTI_STATUS", "208 ALREADY_REPORTED", "226 IM_USED", "300 MULTIPLE_CHOICES", "301 MOVED_PERMANENTLY", "302 FOUND", "302 MOVED_TEMPORARILY", "303 SEE_OTHER", "304 NOT_MODIFIED", "305 USE_PROXY", "307 TEMPORARY_REDIRECT", "308 PERMANENT_REDIRECT", "400 BAD_REQUEST", "401 UNAUTHORIZED", "402 PAYMENT_REQUIRED", "403 FORBIDDEN", "404 NOT_FOUND", "405 METHOD_NOT_ALLOWED", "406 NOT_ACCEPTABLE", "407 PROXY_AUTHENTICATION_REQUIRED", "408 REQUEST_TIMEOUT", "409 CONFLICT", "410 GONE", "411 LENGTH_REQUIRED", "412 PRECONDITION_FAILED", "413 PAYLOAD_TOO_LARGE", "413 REQUEST_ENTITY_TOO_LARGE", "414 URI_TOO_LONG", "414 REQUEST_URI_TOO_LONG", "415 UNSUPPORTED_MEDIA_TYPE", "416 REQUESTED_RANGE_NOT_SATISFIABLE", "417 EXPECTATION_FAILED", "418 I_AM_A_TEAPOT", "419 INSUFFICIENT_SPACE_ON_RESOURCE", "420 METHOD_FAILURE", "421 DESTINATION_LOCKED", "422 UNPROCESSABLE_ENTITY", "423 LOCKED", "424 FAILED_DEPENDENCY", "425 TOO_EARLY", "426 UPGRADE_REQUIRED", "428 PRECONDITION_REQUIRED", "429 TOO_MANY_REQUESTS", "431 REQUEST_HEADER_FIELDS_TOO_LARGE", "451 UNAVAILABLE_FOR_LEGAL_REASONS", "500 INTERNAL_SERVER_ERROR", "501 NOT_IMPLEMENTED", "502 BAD_GATEWAY", "503 SERVICE_UNAVAILABLE", "504 GATEWAY_TIMEOUT", "505 HTTP_VERSION_NOT_SUPPORTED", "506 VARIANT_ALSO_NEGOTIATES", "507 INSUFFICIENT_STORAGE", "508 LOOP_DETECTED", "509 BANDWIDTH_LIMIT_EXCEEDED", "510 NOT_EXTENDED", "511 NETWORK_AUTHENTICATION_REQUIRED" ]
        },
        "view" : {
          "$ref" : "#/definitions/View"
        },
        "viewName" : {
          "type" : "string"
        }
      },
      "title" : "ModelAndView"
    },
    "QueryAccountSettleGmfDtoIn" : {
      "type" : "object",
      "properties" : {
        "numIdentCliente" : {
          "type" : "string"
        },
        "tipoIdentCliente" : {
          "type" : "string"
        }
      },
      "title" : "QueryAccountSettleGmfDtoIn"
    },
    "QueryAccountSettleGmfDtoOut" : {
      "type" : "object",
      "properties" : {
        "codOficina" : {
          "type" : "integer",
          "format" : "int32"
        },
        "estado" : {
          "type" : "string",
          "enum" : [ "EMITIDO", "PAGADO" ]
        },
        "fechaActualizacion" : {
          "type" : "string",
          "format" : "date-time"
        },
        "fechaCreacion" : {
          "type" : "string",
          "format" : "date-time"
        },
        "fechaDevolucion" : {
          "type" : "string",
          "format" : "date"
        },
        "fechaEmision" : {
          "type" : "string",
          "format" : "date"
        },
        "idRegistro" : {
          "type" : "integer",
          "format" : "int64"
        },
        "medioPago" : {
          "type" : "string",
          "enum" : [ "EFECTIVO", "CHEQUE", "TRANSFERENCIA" ]
        },
        "nomOficina" : {
          "type" : "string"
        },
        "numCta" : {
          "type" : "integer",
          "format" : "int64"
        },
        "numIdentCliente" : {
          "type" : "string"
        },
        "numIdentCliente2" : {
          "type" : "string"
        },
        "tipoIdentCliente" : {
          "type" : "string",
          "enum" : [ "CEDULA_DE_CIUDADANIA", "NIT_PERSONA_NATURAL", "NIT_PERSONA_JURIDICA", "TARJETA_DE_IDENTIDAD", "CEDULA_DE_EXTRANJERIA", "PASAPORTE", "REGISTRO_CIVIL" ]
        },
        "tipoIdentCliente2" : {
          "type" : "string",
          "enum" : [ "CEDULA_DE_CIUDADANIA", "NIT_PERSONA_NATURAL", "NIT_PERSONA_JURIDICA", "TARJETA_DE_IDENTIDAD", "CEDULA_DE_EXTRANJERIA", "PASAPORTE", "REGISTRO_CIVIL" ]
        },
        "usuario" : {
          "type" : "string"
        },
        "valor" : {
          "type" : "integer",
          "format" : "int64"
        }
      },
      "title" : "QueryAccountSettleGmfDtoOut"
    },
    "QueryAccountSettleGmfRequest" : {
      "type" : "object",
      "properties" : {
        "body" : {
          "$ref" : "#/definitions/QueryAccountSettleGmfDtoIn"
        },
        "trace" : {
          "$ref" : "#/definitions/TraceDTO"
        }
      },
      "title" : "QueryAccountSettleGmfRequest"
    },
    "StatusDTO" : {
      "type" : "object",
      "properties" : {
        "severity" : {
          "type" : "string"
        },
        "statusCode" : {
          "type" : "integer",
          "format" : "int32"
        },
        "statusDesc" : {
          "type" : "string"
        }
      },
      "title" : "StatusDTO"
    },
    "SuccessResponse«List«QueryAccountSettleGmfDtoOut»»" : {
      "type" : "object",
      "properties" : {
        "body" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/QueryAccountSettleGmfDtoOut"
          }
        },
        "status" : {
          "$ref" : "#/definitions/StatusDTO"
        },
        "trace" : {
          "$ref" : "#/definitions/TraceDTO"
        }
      },
      "title" : "SuccessResponse«List«QueryAccountSettleGmfDtoOut»»"
    },
    "SuccessResponse«Void»" : {
      "type" : "object",
      "properties" : {
        "status" : {
          "$ref" : "#/definitions/StatusDTO"
        },
        "trace" : {
          "$ref" : "#/definitions/TraceDTO"
        }
      },
      "title" : "SuccessResponse«Void»"
    },
    "TraceDTO" : {
      "type" : "object",
      "properties" : {
        "branchId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "ipAddr" : {
          "type" : "string"
        },
        "reverse" : {
          "type" : "boolean"
        },
        "rqUID" : {
          "type" : "string"
        },
        "userId" : {
          "type" : "string"
        }
      },
      "title" : "TraceDTO"
    },
    "UpdateAccountSettleGmfDtoIn" : {
      "type" : "object",
      "properties" : {
        "codOficina" : {
          "type" : "integer",
          "format" : "int32"
        },
        "idRegistro" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nomOficina" : {
          "type" : "string"
        },
        "usuario" : {
          "type" : "string"
        }
      },
      "title" : "UpdateAccountSettleGmfDtoIn"
    },
    "UpdateAccountSettleGmfRequest" : {
      "type" : "object",
      "properties" : {
        "body" : {
          "$ref" : "#/definitions/UpdateAccountSettleGmfDtoIn"
        },
        "trace" : {
          "$ref" : "#/definitions/TraceDTO"
        }
      },
      "title" : "UpdateAccountSettleGmfRequest"
    },
    "View" : {
      "type" : "object",
      "properties" : {
        "contentType" : {
          "type" : "string"
        }
      },
      "title" : "View"
    }
  }
}